/* ============================================================================
   Fonts
   ============================================================================ */

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: local('Pretendard'), url('../fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: local('Pretendard'), url('../fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: local('Pretendard'), url('../fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: local('Pretendard'), url('../fonts/Pretendard-Bold.woff') format('woff');
}

