<div class="container is-fluid">
  <h1 class="title is-5">정책조회</h1>

  <div class="columns is-multiline">
    <div class="column is-12">
      <label class="label">장비</label>
      <div class="control">
        <select id="policy-device-select" multiple></select>
      </div>
    </div>

    <div class="column is-12">
      <details class="box" id="adv-details" open>
        <summary><strong>상세 검색</strong></summary>
        <div class="columns is-multiline">
          <div class="column is-4">
            <label class="label is-small">source</label>
            <input class="input is-small" id="f-src" placeholder="예: 10.0.0.0/8, 1.1.1.1, any" />
            <p class="help">콤마로 여러 개 입력</p>
          </div>
          <div class="column is-4">
            <label class="label is-small">destination</label>
            <input class="input is-small" id="f-dst" placeholder="예: 192.168.0.0/16, 8.8.8.8" />
            <p class="help">콤마로 여러 개 입력</p>
          </div>
          <div class="column is-4">
            <label class="label is-small">service</label>
            <input class="input is-small" id="f-svc" placeholder="예: tcp/80, udp/53, 443, 80-90, any" />
            <p class="help">콤마로 여러 개 입력</p>
          </div>
          <div class="column is-12 has-text-right">
            <button class="button is-link" id="btn-search">검색</button>
            <button class="button" id="btn-reset">초기화</button>
          </div>
        </div>
      </details>
    </div>
  </div>

  <div id="policies-grid" class="ag-theme-quartz" style="height: calc(100vh - 200px);"></div>
</div>


